.section_main{
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.fondo_articulo{
  background-size: cover;
  background-repeat: no-repeat;
}
